
  <!--   Core   -->
  <script src="/static/assets/js/plugins/jquery/dist/jquery.min.js"></script>
  <script src="/static/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/js/plugins/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/js/plugins/chart.js/dist/Chart.extension.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <script src="/static/assets/js/argon-dashboard.min.js?v=1.1.0"></script>
  <script>
    $(document).on("click", ".emodal", function (e) {
      e.preventDefault();
      var _self = $(this);
      var id = _self.data('id');
      var username = _self.data('username');
      var email = _self.data('email');
      var role = _self.data('role');
      var trade_account = _self.data('trade_account');
      $("#eUsername").val(username);
      $("#eEmail").val(email);
      $("#eRole").val(role);
      // var trade_array = trade_account.split(" ").slice(0, -1)
      $("#eTrade").val(trade_account)
      $('#uForm').attr('action', 'update/'+id);
    });
    // $(document).ready(function(){
    //     $("#trade_accounts").click(function(){
    //       if( $("#eTrade").css('display') == 'none' )
    //       {
    //         $("#eTrade").show();
    //       } else {
    //         $("#eTrade").hide();
    //       }
    //     });
    // });
  </script>
