{% extends 'layouts/base.html' %}
{% block title %} Dashboard {% endblock title %}
{% block stylesheets %}
  <style>
    .fr {
      float:right;
    }
    .dib{
      display:inline-block;
    }
    .fcw{
      color:beige;
    }
  </style>
{% endblock stylesheets %}
{% block content %}
  <div class="header bg-gradient-primary pb-8 pt-5 pt-md-6"></div>
    <div class="container-fluid mt--7" >
      <div class="row">
        <div class="col-xl-12 mb-5 mb-xl-0">
          <div class="card bg-gradient-default shadow" style="height:1200px;">
            {% if request.user.role >= 1 %}
              <iframe src="http://127.0.0.1:8060" style="width:100%; height:100%;">
                Your browser doesn't support iframes
              </iframe>
            {% elif request.user.role == 0 %}
              <p style="color:#fff"> Block User</p>
            {% endif %}
          </div>
        </div>
      </div>
      <br/>
      {% if request.user.is_superuser or request.user.role == 2 %}
      <div class="row">
        <div class="col-xl-12 mb-5 mb-xl-0">
          <div class="card bg-gradient-default shadow" style="height:1200px;">
            <div class="header bg-gradient-primary pb-8 pt-5 pt-md-6">
              <div class="container-fluid">
                <div class="header-body">
                  <div class="row">
                    <div class="col-xl-3 col-lg-6">
                      <div class="card card-stats mb-4 mb-xl-0" >
                        <div class="card-body">
                          <div class="row">
                            <div class="col">
                              <h5 class="card-title text-uppercase text-muted mb-0">Total Users</h5>
                              <span class="h2 font-weight-bold mb-0">{{totalUser}}</span>
                            </div>
                            <div class="col-auto">
                              <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                <i class="fas fa-user-check"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                      <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                          <div class="row">
                            <div class="col">
                              <h5 class="card-title text-uppercase text-muted mb-0">Total Managers</h5>
                              <span class="h2 font-weight-bold mb-0">{{totalManager}}</span>
                            </div>
                            <div class="col-auto">
                              <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                <i class="fas fa-user-edit"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                      <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                          <div class="row">
                            <div class="col">
                              <h5 class="card-title text-uppercase text-muted mb-0">Block users</h5>
                              <span class="h2 font-weight-bold mb-0">{{totalBlock}}</span>
                            </div>
                            <div class="col-auto">
                              <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                <i class="fas fa-user-lock"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                      <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                          <div class="row">
                            <div class="col">
                              <h5 class="card-title text-uppercase text-muted mb-0">total admin</h5>
                              <span class="h2 font-weight-bold mb-0">{{totalAdmin}}</span>
                            </div>
                            <div class="col-auto">
                              <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                <i class="fas fa-user-tie"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
            
            <div class="container-fluid mt--7">
              <div class="row mt-3">
                <div class="col">
                  <div class="card bg-default shadow" >
                    <div class="card-header bg-transparent border-0">
                      <h3 class="text-white mb-0" style="display:inline-block">User tables</h3>
                      {% if request.user.is_superuser %}
                      <!-- <span style="float:right" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-form">Add User</span> -->
                      <a style="float:right" type="button" class="btn btn-primary" href="/add_user/">Add User</a>
                      <a style="float:right" type="button" class="btn btn-primary" href="/add_trade_account">Add Trading Account</a>
                      {% endif %}
                      <div class="modal fade " id="modal-editform" tabindex="-1" role="dialog" aria-labelledby="modal-editform" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                          <div class="modal-content">
                            <div class="modal-body p-0">
                              <div class="card bg-secondary shadow border-0">
                                <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true" style="float:right; margin:5px 5px 0px 0px">×</span>
                                </button>
                                <div class="card-header bg-transparent pb-2">
                                    <div class="text-muted text-center mt-2 mb-3">Edit User</div>
                                </div>
                                <div class="card-body px-lg-5 py-lg-5">
                                  <form id="uForm" role="form" method="POST" class="post-form" action="">
                                    {% csrf_token %}  
                                    <div class="form-group mb-3">
                                      <div class="input-group input-group-alternative">
                                          <div class="input-group-prepend">
                                              <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                          </div>
                                          <input class="form-control" placeholder="Username" name = "username" type="text" id="eUsername">
                                      </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                            </div>
                                            <input class="form-control" placeholder="Email" name = "email" type="email" id="eEmail">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                                            </div>
                                            <select name="role" id="eRole" style="width: 86%;border:none;">
                                              <option value="1">user</option>
                                              <option value="2">manager</option>
                                              <option value="0">block</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                      <div class="input-group input-group-alternative">
                                          <div class="input-group-prepend">
                                              <span class="input-group-text"><i class="ni ni-key-25"></i></span>
                                          </div>
                                          <select name="trade_account" id="eTrade" style="width: 86%;border:none;">
                                            {% for each in accounts %}
                                              <option value="{{each.id}}">{{each.key}}-{{each.value}}</option>
                                            {% endfor%}
                                          </select>
                                      </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary my-4">Update</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- table -->
                    <div class="table-responsive" >
                      <table class="table align-items-center table-dark table-flush" id="user_table" >
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">id</th>
                            <th scope="col">username</th>
                            <th scope="col">email</th>
                            <th scope="col">role</th>
                            <th scope="col">trade_account</th>
                            <th scope="col">last_login</th>
                            {% if request.user.is_superuser %}
                            <th scope="col">edit</th>
                            {% endif %}
                          </tr>
                        </thead>
                        <tbody >
                          {% for user in users %}  
                          <tr key="{{user.id}}">  
                            <td>{{ user.id }}</td>  
                            <td>{{ user.username }}</td>  
                            <td>{{ user.email }}</td>
                            {% if user.role == 1 %}
                            <td>user</td>
                            {% elif user.role == 2 %}
                            <td>manager</td>
                            {% elif user.role == 0 %}
                            <td>block</td>
                            {% endif %}
                            {% for account in accounts %}
                              {% if account.id == user.trade_account %}
                                <td>{{ account.key }}-{{ account.value }}</td>
                              {% endif %}
                            {% endfor %}
                            <td>{{ user.last_login }}</td>
                            {% if request.user.is_superuser %}
                            <td class="text-right">
                              <div class="dropdown">
                                <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="fas fa-ellipsis-v"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                  <a class="dropdown-item emodal"  data-id="{{user.id}}" data-username="{{user.username}}" style="cursor:pointer" data-email="{{user.email}}" data-role="{{user.role}}"  data-trade_account="{{user.trade_account}}" data-toggle="modal" data-target="#modal-editform">Edit</a>
                                  <a class="dropdown-item" href="/delete/{{ user.id }}">Delete</a>
                                </div>
                              </div>
                            </td>
                            {% endif %}
                          </tr>  
                          {% endfor %} 
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <!-- {% include "includes/footer.html" %} -->
{% endblock content %}
{% block javascripts %}
  
  
{% endblock javascripts %}
