{% extends 'layouts/base.html' %}
{% block title %} Dashboard {% endblock title %}
{% block stylesheets %}
  <style>
    .fr {
      float:right;
    }
    .dib{
      display:inline-block;
    }
    .fcw{
      color:beige;
    }
  </style>
{% endblock stylesheets %}
{% block content %}
      <div class="header bg-gradient-primary pb-8 pt-5 pt-md-6"></div>
      <div class="container-fluid mt--7" >
        <div class="row">
          <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card bg-gradient-default shadow" style="height:1200px;">
                <iframe src="http://127.0.0.1:8060" style="width:100%; height:100%;">
                  Your browser doesn't support iframes
                </iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row mt-3">
          <div class="col">
            <div class="card bg-default shadow" >
              <div class="card-header bg-transparent border-0">
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="file" class="btn btn-warning" name="myfile">
                  <button class="btn btn-success" type="submit">Upload</button>
                </form>
                {% if uploaded_file_url %}
                  <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
                {% endif %}
                <hr/>
                {% for each in spx_list %}
                  <p style="float:left;color:white"> {{each}}<a class="btn btn-primary" href="/app/ocm_data/TW/SPX/{{each}}" download>Download</a></p>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <br/>
      {% if request.user.is_superuser %}
      <div class="row">
        <div class="col-xl-12 mb-5 mb-xl-0">
          <div class="card bg-gradient-default shadow" style="padding-bottom:5%">
            <div class="header bg-gradient-primary pb-8 pt-5 pt-md-6">
              <div class="container-fluid">
                <div class="header-body">
                  <div class="row">
                    <div class="col-xl-3 col-lg-6">
                      <div class="card card-stats mb-4 mb-xl-0" >
                        <div class="card-body">
                          <div class="row">
                            <div class="col">
                              <h5 class="card-title text-uppercase text-muted mb-0">All Users</h5>
                              <span class="h2 font-weight-bold mb-0">{{all}}</span>
                            </div>
                            <div class="col-auto">
                              <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                <i class="fas fa-user-check"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                      <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                          <div class="row">
                            <div class="col">
                              <h5 class="card-title text-uppercase text-muted mb-0">Total Manager Roles</h5>
                              <span class="h2 font-weight-bold mb-0">{{totalmanager}}</span>
                            </div>
                            <div class="col-auto">
                              <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                <i class="fas fa-user-edit"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                      <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                          <div class="row">
                            <div class="col">
                              <h5 class="card-title text-uppercase text-muted mb-0">Total User Roles</h5>
                              <span class="h2 font-weight-bold mb-0">{{totaluser}}</span>
                            </div>
                            <div class="col-auto">
                              <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                <i class="fas fa-user-lock"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                      <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                          <div class="row">
                            <div class="col">
                              <h5 class="card-title text-uppercase text-muted mb-0">Total Trade Accounts</h5>
                              <span class="h2 font-weight-bold mb-0">{{totalaccount}}</span>
                            </div>
                            <div class="col-auto">
                              <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                <i class="fas fa-user-tie"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
            
            <div class="container-fluid  mt--7">
              <div class="row mt-3">
                <div class="col">
                  <div class="card bg-default shadow" >
                    <div class="card-header bg-transparent border-0">
                      <h3 class="text-white mb-0" style="display:inline-block">Users Table</h3>
                        <a style="float:right" type="button" class="btn btn-success" href="/add_user/">Add New</a>
                      <div class="modal fade " id="modal-editform" tabindex="-1" role="dialog" aria-labelledby="modal-editform" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                          <div class="modal-content">
                            <div class="modal-body p-0">
                              <div class="card bg-secondary shadow border-0">
                                <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true" style="float:right; margin:5px 5px 0px 0px">×</span>
                                </button>
                                <div class="card-header bg-transparent pb-2">
                                    <div class="text-muted text-center mt-2 mb-3">Edit User</div>
                                </div>
                                <div class="card-body px-lg-5 py-lg-5">
                                  <form id="uForm" role="form" method="POST" class="post-form" action="">
                                    {% csrf_token %}  
                                    <div class="form-group mb-3">
                                      <div class="input-group input-group-alternative">
                                          <div class="input-group-prepend">
                                              <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                          </div>
                                          <input class="form-control" placeholder="Username" name = "username" type="text" id="eUsername">
                                      </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                            </div>
                                            <input class="form-control" placeholder="Email" name = "email" type="email" id="eEmail">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                                            </div>
                                            <select name="role" id="eRole" style="width: 86%;border:none;">
                                              <option value="User">User</option>
                                              <option value="Manager">Manager</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                      <div class="input-group input-group-alternative">
                                          <div class="input-group-prepend">
                                              <span class="input-group-text"><i class="ni ni-key-25"></i></span>
                                          </div>
                                          <select name="trade_account" id="eTrade" style="width: 86%;border:none;">
                                            {% for each in accounts %}
                                              <option value="{{each.id}}">{{each.value}}-{{each.key}}</option>
                                            {% endfor%}
                                          </select>
                                      </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary my-4">Update</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- table -->
                    <div class="table-responsive" >
                      <table class="table align-items-center table-white table-flush" id= "user_table_1" >
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">id</th>
                            <th scope="col">username</th>
                            <th scope="col">email</th>
                            <th scope="col">last_login</th>
                            <th scope="col">delete</th>
                          </tr>
                        </thead>
                        <tbody >
                          {% for each in all_users %}  
                          <tr key="{{each.id}}">  
                            <td>{{ each.id }}</td>  
                            <td>{{ each.username }}</td>  
                            <td>{{ each.email }}</td>
                            <td>{{ each.last_login }}</td>
                            <td><a class="btn btn-primary" href="/delete/user/{{ each.id }}">Delete</a></td>
                          </tr>  
                          {% endfor %} 
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container-fluid">
              <div class="row mt-3">
                <div class="col">
                  <div class="card bg-default shadow" >
                    <div class="card-header bg-transparent border-0">
                      <h3 class="text-white mb-0" style="display:inline-block">User Accounts Table</h3>
                      {% if request.user.is_superuser %}
                      <!-- <span style="float:right" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-form">Add User</span> -->
                      <a style="float:right" type="button" class="btn btn-success" href="/add_user_with/">Add New</a>
                      {% endif %}
                      <div class="modal fade " id="modal-editform" tabindex="-1" role="dialog" aria-labelledby="modal-editform" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                          <div class="modal-content">
                            <div class="modal-body p-0">
                              <div class="card bg-secondary shadow border-0">
                                <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true" style="float:right; margin:5px 5px 0px 0px">×</span>
                                </button>
                                <div class="card-header bg-transparent pb-2">
                                    <div class="text-muted text-center mt-2 mb-3">Edit User</div>
                                </div>
                                <div class="card-body px-lg-5 py-lg-5">
                                  <form id="uForm" role="form" method="POST" class="post-form" action="">
                                    {% csrf_token %}  
                                    <div class="form-group mb-3">
                                      <div class="input-group input-group-alternative">
                                          <div class="input-group-prepend">
                                              <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                          </div>
                                          <input class="form-control" placeholder="Username" name = "username" type="text" id="eUsername">
                                      </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                            </div>
                                            <input class="form-control" placeholder="Email" name = "email" type="email" id="eEmail">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                                            </div>
                                            <select name="role" id="eRole" style="width: 86%;border:none;">
                                              <option value="User">User</option>
                                              <option value="Manager">Manager</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                      <div class="input-group input-group-alternative">
                                          <div class="input-group-prepend">
                                              <span class="input-group-text"><i class="ni ni-key-25"></i></span>
                                          </div>
                                          <select name="trade_account" id="eTrade" style="width: 86%;border:none;">
                                            {% for each in accounts %}
                                              <option value="{{each.id}}">{{each.value}}-{{each.key}}</option>
                                            {% endfor%}
                                          </select>
                                      </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary my-4">Update</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- table -->
                    <div class="table-responsive" >
                      <table class="table align-items-center table-dark table-flush" id="user_table" >
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">id</th>
                            <th scope="col">username</th>
                            <th scope="col">email</th>
                            <th scope="col">role</th>
                            <th scope="col">trade_account</th>
                            <!-- <th scope="col">last_login</th> -->
                            <th scope="col">edit</th>
                          </tr>
                        </thead>
                        <tbody >
                          {% for each in all_users_trades %}  
                          <tr key="{{each.id}}">  
                            <td>{{ each.id }}</td>  
                            <td>{{ each.username }}</td>  
                            <td>{{ each.email }}</td>
                            <td>{{ each.role}}</td>
                            <td>{{ each.trade_account_value }}-{{ each.trade_account_key }}</td>
                            <!-- <td>{{ user.last_login }}</td> -->
                            <td class="text-right">
                              <div class="dropdown">
                                <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="fas fa-ellipsis-v"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                  <a class="dropdown-item emodal"  data-id="{{each.id}}" data-username="{{each.username}}" style="cursor:pointer" data-email="{{each.email}}" data-role="{{each.role}}"  data-trade_account="{{each.trade_account_id}}" data-toggle="modal" data-target="#modal-editform">Edit</a>
                                  <a class="dropdown-item" href="/delete/{{ each.id }}">Delete</a>
                                </div>
                              </div>
                            </td>
                          </tr>  
                          {% endfor %} 
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container-fluid">
              <div class="row mt-3">
                <div class="col">
                  <div class="card bg-default shadow" >
                    <div class="card-header bg-transparent border-0">
                      <h3 class="text-white mb-0" style="display:inline-block">Trade Accounts Table</h3>
                        <a style="float:right" type="button" class="btn btn-success" href="/add_trade_account/">Add New</a>
                      <div class="modal fade " id="modal-editform" tabindex="-1" role="dialog" aria-labelledby="modal-editform" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                          <div class="modal-content">
                            <div class="modal-body p-0">
                              <div class="card bg-secondary shadow border-0">
                                <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true" style="float:right; margin:5px 5px 0px 0px">×</span>
                                </button>
                                <div class="card-header bg-transparent pb-2">
                                    <div class="text-muted text-center mt-2 mb-3">Edit User</div>
                                </div>
                                <div class="card-body px-lg-5 py-lg-5">
                                  <form id="uForm" role="form" method="POST" class="post-form" action="">
                                    {% csrf_token %}  
                                    <div class="form-group mb-3">
                                      <div class="input-group input-group-alternative">
                                          <div class="input-group-prepend">
                                              <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                          </div>
                                          <input class="form-control" placeholder="Username" name = "username" type="text" id="eUsername">
                                      </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                            </div>
                                            <input class="form-control" placeholder="Email" name = "email" type="email" id="eEmail">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                                            </div>
                                            <select name="role" id="eRole" style="width: 86%;border:none;">
                                              <option value="User">User</option>
                                              <option value="Manager">Manager</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                      <div class="input-group input-group-alternative">
                                          <div class="input-group-prepend">
                                              <span class="input-group-text"><i class="ni ni-key-25"></i></span>
                                          </div>
                                          <select name="trade_account" id="eTrade" style="width: 86%;border:none;">
                                            {% for each in accounts %}
                                              <option value="{{each.id}}">{{each.value}}-{{each.key}}</option>
                                            {% endfor%}
                                          </select>
                                      </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary my-4">Update</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- table -->
                    <div class="table-responsive" >
                      <table class="table align-items-center table-white table-flush" id= "user_table_2" >
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">id</th>
                            <th scope="col">value</th>
                            <th scope="col">key</th>
                            <th scope="col">created time</th>
                            <th scope="col">delete</th>
                          </tr>
                        </thead>
                        <tbody >
                          {% for each in accounts %}  
                          <tr key="{{each.id}}">  
                            <td>{{ each.id }}</td>  
                            <td>{{ each.key }}</td>  
                            <td>{{ each.value }}</td>
                            <td>{{ each.created_at }}</td>
                            {% if each.value == "Paper" %}
                              <td><a class="btn btn-danger" href="#">Delete</a>
                            {% else %}
                              <td><a class="btn btn-primary" href="/delete/account/{{ each.id }}">Delete</a>
                            {% endif %}
                            <!-- <td class="text-right">
                              <div class="dropdown">
                                <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="fas fa-ellipsis-v"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                  <a class="dropdown-item emodal"  data-id="{{each.id}}" data-username="{{each.username}}" style="cursor:pointer" data-email="{{each.email}}" data-role="{{each.role}}"  data-trade_account="{{each.trade_account_id}}" data-toggle="modal" data-target="#modal-editform">Edit</a>
                                  <a class="dropdown-item" href="/delete/{{ user.id }}">Delete</a>
                                </div>
                              </div>
                            </td> -->
                          </tr>  
                          {% endfor %} 
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="container-fluid">
              <div class="row mt-3">
                <div class="col">
                  <div class="card bg-default shadow" >
                    <div class="card-header bg-transparent border-0">
                      <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" class="btn btn-warning" name="myfile">
                        <button class="btn btn-success" type="submit">Upload</button>
                      </form>
                      {% if uploaded_file_url %}
                        <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  <!-- {% include "includes/footer.html" %} -->
{% endblock content %}
{% block javascripts %}
    <script>
      // $(document).ready(function(){
      //   $("#exp_show").click(function(){
      //     alert("here")
      //   })
      // })
    </script>
{% endblock javascripts %}